 
  
  
 
  #bottemP {
      margin-left:20px;
    margin-top:280px !important;

  }
 
    
    

  
.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}



  /************************************************/
  /*********** CSS FOR FLEXBOX HEADING ************/
  /************************************************/
  
  
  
  
  
  